<!DOCTYPE HTML>


<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "author" content = "Alex Lu, Gilvir Gill, Haiyao Liu, Datian Zhang, Andrew Chen">
        <meta name = "viewport" content = "width=device-width, initial-scale=0.8">
        <meta name = "mobile-web-app-capable" content="yes">
        <title>IML Scoring</title>


        <!-- css -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'vendor/mdc.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'vendor/normalize.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'vendor/mdc-table.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'css/mdc-theme.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'css/forms.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'css/everything.css')}}">

        <link href="https://fonts.googleapis.com/css?family=Merriweather|Noto+Serif+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        {% block css_imports %}
        {% endblock css_imports %}
        <!-- end css -->
    </head>


    <body>
        {% include 'includes/drawer.html' with context %}
        {% include 'includes/navbar.html' with context %}


    <main>
        <div style="padding-top:100px"></div>
        {% block below_nav %}
        {% endblock below_nav %}
        <div>
            {% block content %}
            {% endblock content%}
        </div>
        <div class="snackbars">
        <!-- Very naive Flashes -->
        {% with flashes = get_flashed_messages(with_categories=True) %}
            {% if flashes %}
            <div id="static-flash"
                class="mdc-snackbar mdc-snackbar--stacked">
                <div class="mdc-snackbar__surface">
                    <div class="mdc-snackbar__label"
                         role="status"
                         aria-live="polite">
                        {% for category, message in flashes %}
                        <div>{{message}}</div>
                        <br>
                        {% endfor %}
                    </div>
                    <div class="mdc-snackbar__actions">
                    </div>
                </div>
            </div>
            {% endif %}
        {% endwith %}
        </div>
    </main>

    <!-- javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery.js') }}"></script>
    <script type="text/javascript" src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mdc-nav.js') }}"></script>
    </body>
</html>

{% block js_imports %}
{% endblock %}
