<!DOCTYPE HTML>


<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "author" content = "Alex Lu, Gilvir Gill, Haiyao Liu, Datian Zhang, Andrew Chen">
        <meta name = "viewport" content = "width=device-width, initial-scale=0.8">
        <meta name = "mobile-web-app-capable" content="yes">
        <title>IML Scoring</title>


        <!-- css -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'vendor/mdc.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'vendor/normalize.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'css/mdc-theme.css')}}">

        <link href="https://fonts.googleapis.com/css?family=Merriweather|Noto+Serif+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        {% block css_imports %}
        {% endblock css_imports %}
        <!-- end css -->
    </head>


    <body>
        <aside class="mdc-drawer mdc-drawer--modal">
            <div class="mdc-drawer__header" style="margin-bottom: 25px;">
                <h3 class="mdc-drawer__title">IML Scores</h3>
            </div>

            <div class="mdc-drawer__content">
                <nav class="mdc-list">
                    <hr class="mdc-list-divider">
                    <a class="mdc-list-item mdc-list-item--activated" href="/">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                        Home
                    </a>                   
                </nav>
            </div>
        </aside> 
        <div class="mdc-drawer-scrim"></div>

        {% block navbar %}
        <header class="mdc-top-app-bar" id="app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
                    <span class="mdc-top-app-bar__title">IML Scores</span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                    <a href="/" class="material-icons mdc-top-app-bar__action-item" aria-label="Download" alt="Download">home</a>
                </section>
				
            </div>
        </header>
        {% endblock navbar %}
    <main>
        <div style="padding-top:100px"></div>
        <!-- Unformatted Flashes -->
        {% with flashes = get_flashed_messages(with_categories=True) %}
            {% if flashes %}
                {% for category, message in flashes %}
                <div>{{message}}</div>
                <br>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block below_nav %}
        {% endblock below_nav %}
        <div>
            {% block content %}
            {% endblock content%}
        </div>
    </main>

    <!-- javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery.js') }}"></script>
    <script type="text/javascript" src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mdc-nav.js') }}"></script>
    </body>
</html>
