<!-- card example -->

{% extends "_base.html" %}

{% block content %}
<div class="mdc-card" style="width:500px; margin-left: calc(50% - 250px);">
  <div
    style="width:100%;height:32px;background-color:#00b894;opacity: 1.0;"
  ></div>
  <div class="mdc-card__media"></div>
  {% if user %}
  <a class="mdc-list-item mdc-list-item--activated" href="/logout"
    >Logout</a
  >
  {% else %}
  <a class="mdc-list-item mdc-list-item--activated" href="/register"
    >Register</a
  >
  <a class="mdc-list-item mdc-list-item--activated" href="/login"> Login </a>
  {% endif %}

  <div
    style="width:100%;height:32px;background-color:#00b894;opacity: 1.0;"
  ></div>

  <div class="mdc-card__media"></div>
  <h2>Homepage J</h2>
  {% for people in competition %}
  <h3> {{people.name}} {{people.score}} </h3>
  {% endfor %}

</div>
{% endblock %}
