<!-- card example -->

{% extends "_base.html" %}

{% from "macros/_renderfield.html" import render_field %}

{% block content %}
<div class="mdc-card centered-single-card" style="width:500px;">
    <div class="mdc-card__media"></div>
    <center>
    <h1>enter_scores</h1>
    <br>
    <form method="POST" action="/enter_scores" id="enter_scores-form">
        {{ form.students.choices }}
        {{ render_field(form.students) }}
        {{ render_field(form.submit) }}
    </center>
    </form>
</div>
{% endblock %}
