<!-- card example -->

{% extends "_base.html" %} {% block navbar %} {% endblock %} {% block content %}
<div class="mdc-card" style="width:500px; margin-left: calc(50% - 250px);">
  <<<<<<< HEAD
  <div
    style="width:100%;height:32px;background-color:#00b894;opacity: 1.0;"
  ></div>
  <div class="mdc-card__media"></div>
  <h2>Login Jabroni</h2>

  <a class="mdc-list-item mdc-list-item--activated" href="/register"
    >Register</a
  >
  <a class="mdc-list-item mdc-list-item--activated" href="/login"> Login </a>
  =======
  <div
    style="width:100%;height:32px;background-color:#00b894;opacity: 1.0;"
  ></div>
  <div class="mdc-card__media"></div>
  <h2>Homepage Jabroni</h2>
  >>>>>>> 32b7a0f6e9f7308eb6a3334f612f2c5d25e33dc1
</div>
{% endblock %}
