{% extends "results.html" %}

{% block content %}

<div class="mdc-card" style="width:500px; margin-left: calc(50% - 250px);">



</div>
<h1> Testing and Debugging </h1>

<body>
    Students (pulled from database): <br>
    {% for student in studentDB %}
        {{student.first}} {{student.scores_list}} id: {{student.id}}<br>
    {% endfor %}

    Contests:

    {% for contest in contests %} <br>
        {{contest.name}} id: {{contest.id}}<br>
    {% endfor %}

    Users: <br>

    {% for user in users %}
        {{user.first}} id: {{user.id}}<br>
    {% endfor %}

    Teams: <br>

    {% for team in teams %}
        {{team.name}} id: {{team.id}}<br>
    {% endfor %}


</body>
{% endblock %}
