<!-- card example -->

{% extends "_base.html" %}

{% from "macros/_renderfield.html" import render_field %}

{% block css_imports %}
{{super()}}
<link rel="stylesheet" href={{ url_for('static', filename='vendor/flatpickr.min.css') }}>
{% endblock %}

{% block content %}
<center>
    <h2>Add New Contest</h2>
    <form method="POST" action="/admin/add_contest" id="contest-form">
        {{ contestForm.hidden_tag() }}
        {{ contestForm.csrf_token() }}
        {{ render_field(contestForm.name) }}
        {{ render_field(contestForm.start_time,value=0) }}
        {{ render_field(contestForm.question_count,value=6) }}
        {{ render_field(contestForm.division) }}
        {{ render_field(contestForm.submit) }}
    </form>
</center>
{% endblock %}



{% block js_imports %}
{{ super() }}
<script type="text/javascript" src={{ url_for('static', filename='vendor/flatpickr.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='js/core/admin/add_contest.js') }}></script>
{% endblock js_imports %}
