<!-- card example -->

{% extends "_base.html" %}

{% from "macros/_renderfield.html" import render_field %}

{% block content %}
<div class="mdc-card centered-single-card" style="width:500px;">
    <div class="mdc-card__media"></div>
    <center>
    <h1>Login</h1>
    <br>
    <form method="POST" action="/login" id="login-form">
        {{ loginForm.hidden_tag() }}
        {{ loginForm.csrf_token() }}
        {{ render_field(loginForm.email) }}
        {{ render_field(loginForm.password) }}
        {{ render_field(loginForm.submit) }}
    </center>
    </form>
</div>
{% endblock %}



