<!-- card example -->

{% extends "_base.html" %}

{% from "macros/_renderfield.html" import render_field %}

{% block content %}
<div class="mdc-card" style="width:500px; margin-left: calc(50% - 250px);">
    <div style="width:100%;height:32px;background-color:#00b894;opacity: 1.0;"></div>
    <div class="mdc-card__media"></div>
    <h2>Register DC</h2>

    <form method="POST" action="/register" id="register-form">
        {{ registerForm.hidden_tag() }}
        {{ registerForm.csrf_token() }}

        <div class = "mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell">
                    {{ render_field(registerForm.email) }}
                    {{ render_field(registerForm.password) }}
                    {{ render_field(registerForm.submit) }}
                </div>
                <div class="mdc-layout-grid__cell"></div>
                <div class="mdc-layout-grid__cell"></div>
            </div>
        </div>
    </form>
</div>
{% endblock %}



