<aside class="mdc-drawer mdc-drawer--modal">
            <div class="mdc-drawer__header" style="margin-bottom: 25px;">
                {% if user %}
                <h3 class="mdc-drawer__title">{{user.first}} {{user.last}}</h3>
                <h6 class="mdc-drawer__subtitle">{{user.email}}</h6>
                {% else %}
                <h3 class="mdc-drawer__title">Guest</h3>
                {% endif %}
            </div>

            <div class="mdc-drawer__content">
                <nav class="mdc-list">
                    <hr class="mdc-list-divider">
                    <a class="mdc-list-item mdc-list-item--activated" href="/" aria-selected="true">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                        Home
                    </a>
                    {% if user %}
                    <a class="mdc-list-item" href="/logout">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">exit_to_app</i>
                        Sign Out
                    </a>
                    {% else %}
                    <a class="mdc-list-item" href="/login">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">exit_to_app</i>
                        Login
                    </a>
                    {% endif %}

                    {% if user and user.is_admin %}
                    <hr class="mdc-list-divider">
                    <h6 class="mdc-list-group__subheader">Admin</h6>
                    <a class="mdc-list-item" href="/admin/divisions">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">book</i>
                        Divisions
                    </a>
                    <a class="mdc-list-item" href="/admin/add_contest">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">add</i>
                        Add Contest
                    </a>

                    {% endif %}
                    {% if user and user.school %}
                    <hr class="mdc-list-divider">
                    <h6 class="mdc-list-group__subheader">{{user.school.name}}</h6>
                    <a class="mdc-list-item" href="/enter_scores">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">book</i>
                        Enter Scores
                    </a>
                    <a class="mdc-list-item" href="/students/add_student">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">book</i>
                        Manage Teams
                    </a>
                    {% endif %}

                    <hr class="mdc-list-divider">
                    <a class="mdc-list-item" href="/info">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">info</i>
                        View Scores
                    </a>

                </nav>
            </div>
        </aside>
        <div class="mdc-drawer-scrim"></div>

