<!DOCTYPE html>
<html>

    <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="/static/mdc.css">
        {% endblock %}
    </head>

    <body>
        {% block navbar %}
        <header class="mdc-top-app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
                    <span class="mdc-top-app-bar__title">Title</span>
                </section>
            </div>
        </header>
        {% endblock %}

        {% block message %}
        {% endblock %}
    </body>

</html>
