<!-- card example -->

{% extends "_base.html" %}

{% from "macros/_renderfield.html" import render_field %}

{% block content %}
<center>
    <h2>Add New Contest</h2>
    <form method="POST" action="/admin/add_contest" id="contest-form">
        {{ contestForm.hidden_tag() }}
        {{ contestForm.csrf_token() }}
        {{ render_field(contestForm.name) }}
        {{ render_field(contestForm.question_count) }}
        {{ render_field(contestForm.division) }}
        {{ render_field(contestForm.submit) }}
    </form>
</center>
{% endblock %}



