<!-- card example -->

{% extends "_base.html" %}
{% block content %}
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
    {% for contest in contests %}
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card">
                <div class="mdc-card__primary-action">
                    <h2>{{contest.name}}</h2>
                    <strong>{{contest.division.name}}</strong>
                    <br>
                    {{contest.start_time.date()}}
                    <br>
                    Question Count: {{contest.question_count}}
                    <br>
                    <!-- ... additional primary action content ... -->
                </div>
                <div class="mdc-card__actions">
                    <div class="mdc-card__action-buttons">
                        <button class="mdc-button mdc-card__action mdc-card__action--button">
                            <span class="mdc-button__label">View Scores</span>
                        </button>
                    </div>
                    <!-- <div class="mdc-card__action-icons"> -->
                    <!--     <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button> -->
                    <!-- </div> -->
                </div>
            </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}



