<!-- card example -->

{% extends "_base.html" %}

{% from "macros/_renderfield.html" import render_field %}

{% block content %}
<div class="mdc-card centered-single-card">
    <center>
    <h2>Divisions - Temporary Example Table</h2>
    <div class="mdc-data-table">
        <table class="mdc-data-table__content">
            <thead>
                <tr class="mdc-data-table__row">
                    <th class="mdc-data-table__column">id</th>
                    <th class="mdc-data-table__column">Division</th>
                    <th class="mdc-data-table__column">Contests</th>
                    <th class="mdc-data-table__column">Teams</th>
                </tr>
                {% for div in divisions %}
                <tr class="mdc-data-table__row">
                    <th class="mdc-data-table__column">{{div.id}}</th>
                    <th class="mdc-data-table__column">{{div.name}}</th>
                    <th class="mdc-data-table__column"><a href="/admin/division/{{div.url}}/contests">{{div.contests | length}}</a></th>
                    <th class="mdc-data-table__column">{{div.teams | length}}</th>
                </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
    </center>
</div>
{% endblock %}



