{% macro render_field(field, standard_space = True) %}
    {# casework #}
    {% if standard_space %}
    <div class="field_wrapper form-standard-spacing">
    {% else %}
    <div class="field_wrapper">
    {% endif %} 
    {% if field.type in ["DateTimeField", "IntegerField", "StringField", "PasswordField", "SelectField", "EmailField"] %}
            <div class="mdc-text-field mdc-text-field--outlined standard-textfield-size">
                {{ field( id=field.id, class="mdc-text-field__input")|safe }}
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        {{ field.label(class="mdc-floating-label", for=field.id) }}
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            {% if (field.errors|length) != 0 %}
                <ul class="error-list">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    {% endif %}
    {% if field.type == "TextAreaField" %}
                {{ field.label }}
                {{ field(class="u-full-width")|safe }}
            {% if (field.errors|length) != 0 %}
                <ul class="error-list">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    {% endif %}
    {% if field.type == "SubmitField" %}
        <div class="row">
            <div class = "four columns"><br></div>
            <div class="four columns">
                {{ field(class="mdc-button mdc-button--unelevated")|safe }}
            </div>
            <div class = "four columns"><br></div>
        </div>
    {% endif %}
    {% if field.type == "FileField" %}
                {{ field.label }}
                {{ field(class="full-width")|safe }}
            {% if (field.errors|length) != 0 %}
                <ul class="error-list">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    {% endif %}
    {% if field.type in ["SelectMultipleField", "MultiCheckboxField"] %}
                {{ field.label }}
                {{ field(class="multiselect", rows=6, multiple=True)|safe }}
            {% if (field.errors|length) != 0 %}
                <ul class="error-list">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    {% endif %}
    <br>
    </div>
{% endmacro %}
